*.o
*.out
*.exe
*.a
*.so
*.dll
*.dSYM/
*.log
*.obj
*.cache
*.pch
*.class

build/
bin/
output/
*.run
*.elf
compile_commands.json
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.env
*.venv
.env/
.venv/
.envrc

.DS_Store
Thumbs.db

upper-bound
lower-bound
poincare-bifurcation-diagram

.capd-headers/
.dockerignore
compile_flags.txt

pyproject.toml
